@import 'normalize.css/normalize.css';
@import '../styles/variables';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-primary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(79, 88, 143);
  background: linear-gradient(
    344deg,
    rgba(79, 88, 143, 1) 25%,
    rgba(45, 46, 55, 1) 45%,
    rgba(63, 81, 181, 1) 100%
  );
}