@import 'normalize.css/normalize.css';
@import '../styles/variables';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-primary;
  background-color: $background-color-dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  box-sizing: border-box;
  min-height: 100vh;
}

#app {
  width: 100%;
  max-width: 700px;
  min-width: 300px;
}

.v-application__wrap {
  min-height: unset !important;
  background-color: $background-color-dark;
}
